
.title {
  font-size: 2.7rem;
  margin-bottom: 30px;
  text-align: center;
}

.contact-info {
  display: flex;
  width: 25%;
}

ul {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

ul li {
  list-style: none;

  padding: auto;
  display: flex;
  align-items: center;
}

.contact-info ul li i{
  font-size: 1.7rem;
  margin-right: 1.5rem;

}
.contact-info ul li {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;

  }

/* 
@media screen and (max-width: 250px) {
  .contact-info ul li{
    flex-direction: column;
    font-size: 12px;
  } */
  
  .contact-section {
    margin-top: 30px;
  }
  